{:lib com.github.ivarref/double-trouble
 :version "0.1.{{git/commit-count}}"
 :scm {:connection "scm:git:git://github.com/ivarref/double-trouble.git"
       :developerConnection "scm:git:ssh://git@github.com/ivarref/double-trouble.git"
       :url "https://github.com/ivarref/double-trouble"}}
