{:deps      {org.clojure/clojure {:mvn/version "1.11.1"}}

 :paths     ["src"]

 :aliases   {:test  {:extra-paths ["test"]
                     :extra-deps  {org.clojure/tools.logging               {:mvn/version "1.2.4"}
                                   com.taoensso/timbre                     {:mvn/version "5.2.1"}
                                   com.fzakaria/slf4j-timbre               {:mvn/version "0.3.21"}
                                   clojure-term-colors/clojure-term-colors {:mvn/version "0.1.0"}
                                   com.datomic/datomic-pro                 {:mvn/version "1.0.6397"}
                                   org.postgresql/postgresql               {:mvn/version "9.3-1102-jdbc41"}
                                   io.github.cognitect-labs/test-runner    {:git/tag "v0.5.0" :git/sha "b3fd0d2"}
                                   com.github.ivarref/gen-fn               {:mvn/version "0.1.35"}}
                     :jvm-opts    ["-Dclojure.main.report=stderr" "-Dfile.encoding=UTF-8"]
                     :main-opts   ["-m" "cognitect.test-runner"]
                     :exec-fn     cognitect.test-runner.api/test}

             :build {:deps       {com.github.liquidz/build.edn {:git/tag "0.2.63" :git/sha "f4e571d"}}
                     :ns-default build-edn.main}}

 :mvn/repos {"my.datomic.com" {:url "https://my.datomic.com/repo"}}}
